html,
body {
    background-color: #fff;
    font-family: 'Oxygen', sans-serif !important;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

a:focus {
    outline: none;
}

.home-welcome-container {
    font-size: 30px;
    text-align: center;
    /*background: background-color background-image background-repeat background-attachment background-position;*/
    background: #fff url("/assets/img/mountains.jpg?id=@@IMAGE_HASH@@") no-repeat fixed center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
}

.home-welcome {
    vertical-align: middle;
    display: table-cell;
}

.home-welcome-inner {
    margin: -80px auto 0 auto;
}

.profile-image-holder {
    height: 300px;
    width: 300px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff url("/assets/img/sarad.jpeg?id=@@IMAGE_HASH@@") no-repeat;
    background-size: cover;
}

.home-message-background {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0 10px;
}

.social-holder {
    width: 288px;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.social-holder a div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 48px;
    font-size: 28px;
    float: left;
    margin: 0 10px;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
}

.social-facebook-icon {
    border: 1px solid #49659F;
    color: #49659F;
}

.social-facebook-icon:hover {
    background-color: #49659F;
    color: #FFF;
}

.social-twitter-icon {
    border: 1px solid #55ACEE;
    color: #55ACEE;
}

.social-twitter-icon:hover {
    background-color: #55ACEE;
    color: #FFF;
}

.social-linkedin-icon {
    border: 1px solid #1B86BD;
    color: #1B86BD;
}

.social-linkedin-icon:hover {
    background-color: #1B86BD;
    color: #FFF;
}

.social-stack-overflow-icon {
    border: 1px solid #FF9900;
    color: #FF9900;
}

.social-stack-overflow-icon:hover {
    background-color: #FF9900;
    color: #FFF;
}

@media (max-width: 767px) {
    .home-welcome-container {
        font-size: 25px;
    }

    .profile-image-holder {
        height: 220px;
        width: 220px;
    }

    .social-holder a div {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 23px;
        margin: 0 7px;
    }

    .social-holder {
        width: 224px;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    .profile-image-holder {
        display: none;
    }
}